.RouteMap {
  background: url(/img/route_map_bg.png) no-repeat;
  background-size: 90% 885px;
  background-position-y: 200px;
  background-position-x: center;
  width: 90%;
  height: 1200px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-top: 100px;
}
.RouteMap__bg {
  width: 100%;
  height: 800px;
  position: absolute;
  z-index: 0;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.RouteMap__bg > img {
  width: 80%;
}
.RouteMap__content {
  display: flex;
  flex-direction: column;
}
.RouteMap__r1 {
  position: relative;
  z-index: 1;
  top: 19%;
  left: -6.4%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 263px;
}
.RouteMap__r1__desc {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.RouteMap__r1__desc__date,
.RouteMap__r2__desc__date,
.RouteMap__r3__desc__date,
.RouteMap__r4__desc__date,
.RouteMap__r5__desc__date {
  font-size: 1.875rem;
  font-weight: 500;
  color: rgba(188, 184, 255, 1);
}
.RouteMap__r1__desc__content,
.RouteMap__r2__desc__content,
.RouteMap__r3__desc__content,
.RouteMap__r4__desc__content,
.RouteMap__r5__desc__content {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(179, 179, 179, 1);
}
.RouteMap__r1__desc__content > span,
.RouteMap__r2__desc__content > span,
.RouteMap__r3__desc__content > span,
.RouteMap__r4__desc__content > span,
.RouteMap__r5__desc__content > span {
  padding: 10px 0px 0px 0px;
}
.RouteMap__r2 {
  position: absolute;
  z-index: 1;
  top: 33.5%;
  right: 0%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 28%;
  height: 250px;
}
.RouteMap__r2__desc {
  width: 86%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}
.RouteMap__r2__icon {
  width: 100px;
}
.RouteMap__r2__desc__content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.RouteMap__r3 {
  position: absolute;
  z-index: 1;
  top: 54.5%;
  left: 27.9%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 38%;
  height: 208px;
}
.RouteMap__r3__desc {
  /* width: 86%; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.RouteMap__r3__desc__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.RouteMap__r3__icon {
  position: relative;
  left: 10%;
  width: 90px;
}
.RouteMap__r4 {
  position: absolute;
  z-index: 1;
  bottom: 19.5%;
  left: -8.1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 28%;
  height: 193px;
}
.RouteMap__r4__desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 67px;
}
.RouteMap__r5 {
  position: absolute;
  z-index: 1;
  bottom: -14%;
  /* left: 36.2%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* width: 28%; */
  height: 260px;
}
.RouteMap__r5__desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.RouteMap__r5__desc__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.RouteMap.--lang-en .RouteMap__r3__desc {
  text-align: left;
  position: relative;
  left: 18%;
}
.RouteMap.--lang-en .RouteMap__r4__desc {
  position: relative;
  left: 24%;
}
.RouteMap.--lang-en .RouteMap__r5__desc__content {
  text-align: left;
}
@media screen and (max-width: 425px) {
  .RouteMap {
    background: none;
    height: auto;
  }
  .RouteMap span {
    width: 100%;
  }
  .RouteMap label,
  .RouteMap.--lang-en label {
    width: 60%;
    word-break: break-word;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .RouteMap__r1,
  .RouteMap__r2,
  .RouteMap__r3,
  .RouteMap__r4,
  .RouteMap__r5 {
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: left;
    margin-bottom: 5%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .RouteMap img {
    width: 100px;
    /* height: 75px; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .RouteMap__r1 {
    flex-direction: row-reverse;
  }
  .RouteMap__r2 {
    flex-direction: row-reverse;
  }
  .RouteMap__r2__desc {
    align-items: flex-start;
    text-align: left;
  }
  .RouteMap.--lang-en .RouteMap__r3__desc,
  .RouteMap.--lang-en .RouteMap__r4__desc {
    left: 0;
  }
}
