.Team {
  width: 90%;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 300px;
}
.Team__inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.Team__members {
  width: 51.5%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.Team__member__avatar {
  width: 120px;
  height: 120px;
  border-radius: 15px;
  cursor: pointer;
  opacity: 0.5;
  margin-right: 20px;
  margin-bottom: 10px;
}
.Team__member__avatar--actived {
  /* box-shadow: 0px 2px 10px #f8f8f8; */
  opacity: 1;
}
.Team__member {
  background: #ffffff;
  width: 45%;
  height: 88.5%;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
}
.Team__member__name {
  font-size: 2.5rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  color: rgba(188, 184, 255, 1);
}
.Team__member_title {
  font-size: 1.125rem;
  color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 200px;
  height: 50px;
  padding: 0px;
  margin: 0px;
}
.Team__member_title > img {
  width: 1.125rem;
  padding-top: 2px;
  padding-left: 10px;
}
.Team__member_splitter {
  width: 100%;
  border-color: #fbfafa;
  border-width: 1px;
  opacity: 0.2;
}
.Team__member_desc {
  font-size: 18px;
  font-weight: 400;
  color: rgba(128, 128, 128, 1);
  text-align: left;
  word-break: break-word;
}
@media screen and (max-width: 768px) {
  .Team__inner {
    flex-direction: column;
  }
  .Team__members {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    align-content: flex-start;
  }
  .Team__member__avatar {
    width: 80px;
    height: 80px;
    margin-right: 0px;
    border-radius: 10px;
  }
  .Team__member {
    width: 100%;
    height: auto;
    margin-top: 50px;
  }
}
