.Introduce {
  width: 100%;
  /* height: 1400px; */
  padding: 150px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.Introduce__title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.Introduce__title__icon {
  width: 25%;
}
.Introduce__title__content > h1,
.Introduce__title__content > h3 {
  margin: 0px;
  letter-spacing: 10px;
}
.Introduce__title__content > h1 {
  font-size: 2.7rem;
}
.Introduce__desc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 150px;
  width: 64%;
  opacity: 0.5;
  text-align: left;
  letter-spacing: 10px;
}
.Introduce__whitepaper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background: rgba(69, 66, 123, 1);
  border-radius: 50%;
}
.Introduce__whitepaper > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.Introduce__whitepaper img {
  width: 30px;
}
.Introduce__splitline {
  width: 80%;
  margin: 50px 0px 50px 0px;
  opacity: 0.2;
}
.Introduce__video__btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  font-size: 1.5rem;
  cursor: pointer;
  margin-bottom: 5%;
}
.Introduce__video__btn:hover,
.Introduce__video__player_closer:hover {
  opacity: 0.5;
}
.Introduce__video__btn > img {
  width: 50%;
}
.Introduce__video__player {
  display: none;
}
.Introduce__video__player--isPlaying {
  display: block;
  background: black;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
}

.Introduce__video__player_closer {
  position: absolute;
  z-index: 110;
  top: 10px;
  right: 10px;
  color: white;
  font-weight: bolder;
  font-size: 2rem;
  cursor: pointer;
}
.Introduce.--lang-en .Introduce__title,
.Introduce.--lang-en .Introduce__desc {
  width: auto;
}
.Introduce.--lang-en .Introduce__whitepaper > a > span {
  margin-bottom: 10px;
  font-size: 0.9rem;
}
.Introduce.--lang-en .Introduce__video__btn > span {
  /* margin-top: -20px; */
}
@media screen and (max-width: 425px) {
  .Introduce__title {
    width: 80%;
  }
  .Introduce__title__content > h1 {
    font-size: 1.8rem;
  }
  .Introduce__title__content > h3 {
    font-size: 0.6rem;
    letter-spacing: 8px;
  }
  .Introduce__desc {
    width: 75%;
    letter-spacing: 0px;
    height: auto;
    padding-bottom: 40px;
    padding-top: 40px;
    font-size: 0.8rem;
  }
  .Introduce__splitline {
    width: 95%;
  }
  .Introduce__whitepaper {
    width: 60px;
    height: 60px;
  }
}
@media screen and (max-width: 425px) {
  .Introduce__title__content > h1 {
    font-size: 1.5rem;
  }
  .Introduce__title__content > h3 {
    letter-spacing: 2.5px;
    margin-left: -8px;
  }
  .Introduce.--lang-en .Introduce__title__content > h1 {
    font-size: 2rem;
  }
  .Introduce.--lang-en .Introduce__title,
  .Introduce.--lang-en .Introduce__desc {
    width: 80%;
  }
  .Introduce.--lang-en .Introduce__whitepaper > a > span {
    /* margin-bottom: 10px; */
    font-size: 0.5rem;
  }
  .Introduce.--lang-en .Introduce__whitepaper > a > img {
    margin-top: -5px;
    width: 20px;
  }
  .Introduce.--lang-en .Introduce__video__btn {
    height: 120px;
    justify-content: space-around;
  }
  .Introduce.--lang-en .Introduce__video__btn > img {
    width: 30%;
  }
}
@media screen and (max-width: 320px) {
  .Introduce.--lang-en .Introduce__title,
  .Introduce.--lang-en .Introduce__desc {
    width: 97%;
  }
}
